


  <!-- <ng-container *ngFor="let plan of searchResults">
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ plan.planName }}</h5>
        <p class="card-text">
          {{ plan.planDescription }}
          <br>
          Validity: {{ plan.validity }} days
          <br>
          Price: ₹ {{ plan.price }}
        </p> -->
        <!-- Dropdown menu for payment methods for each card -->
        <!-- <div class="dropdown">
          <button class="btn btn-primary btn-red dropdown-toggle" type="button" [attr.aria-labelledby]="'paymentDropdown' + plan.planID" data-bs-toggle="dropdown" aria-expanded="false">
            Pay
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item smaller-font" routerLink="/google-pay">Google Pay</a></li>
            <li><a class="dropdown-item smaller-font" routerLink="/debit-card" (click)="onPay(plan.price)">Debit Card</a></li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container> -->