<app-usernavbar></app-usernavbar>
<div class="search-container">
  <div class="search-form">
    <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search Plans" (input)="onSubmit()">
    <!-- The (input)="onSubmit()" event will trigger a search as the user types -->
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</div>
<!-- Render the existing data if the searchText is empty or searchResults is empty -->
<div *ngIf="searchText === '' || searchResults.length === 0">
  <div *ngFor="let plan of plans">
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ plan.planname }}</h5>
        <p class="card-text">
          {{ plan.planDescription }}
          <br>
          Validity: {{ plan.validity }} days
          <br>
          Price: ₹ {{ plan.price }}
        </p>
        <!-- Dropdown menu for payment methods for each card -->
        <div class>
          <button class="btn btn-primary btn-red" (click)="onPay(plan)">Pay</button>
            
         
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Render the search results when searchText is not empty and searchResults is not empty -->
<div *ngIf="searchText !== '' && searchResults.length > 0">
  <ng-container *ngFor="let plan of searchResults">
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{ plan.planName }}</h5>
        <p class="card-text">
          {{ plan.planDescription }}
          <br>
          Validity: {{ plan.validity }} days
          <br>
          Price: ₹ {{ plan.price }}
        </p>
        <!-- Dropdown menu for payment methods for each card -->
        <div class="">
          <button class="btn btn-primary btn-red" (click)="onPay(plan)">Pay</button>
          
          </div>
      </div>
    </div>
  </ng-container>
</div>
