<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <div class="logo-container">
        <img src="assets/images/fulcrum.png" alt="Logo" class="logo">
        <h1 class="header-title">Plan Pro</h1>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user" routerLinkActive="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/recharge" routerLinkActive="">Recharge Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="">My Profile</a>
    </li>
    <!-- <li class="nav-item">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search Plan"
        aria-label="Search"
        aria-describedby="search-addon"
      />
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="" (click)="logout()">Logout</a>
    </li>
  </ul>




  