<app-usernavbar></app-usernavbar>
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/images/5g.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Upgrade to Lightning-Fast 5G</h2>
        <p>
          Elevate your mobile experience with our 5G network, offering blazing-fast speeds and ultra-low latency.
        </p>
        
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper offimage">
      <figure>
        <img src="assets/images/offer.jpg" alt="" width="100%"/>
      </figure>
      <div class="article-body">
        <h2>Exclusive Discounts and Offers</h2>
        <p>
          Enjoy exclusive deals and savings when you recharge through our app. Get more value for your money with our special offers.
        </p>
       
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/images/security.jpg" alt="" width="100%" />
      </figure>
      <div class="article-body">

        <h2>Data Security You Can Trust</h2>
        <p>
          Rest easy knowing that your personal information is safeguarded with our top-notch data security measures.
        </p>
        
      </div>
    </div>
  </article>
</section>


