<div>
    <header>
        <img src="assets/images/fulcrum.png" alt="Logo" class="logo">
        <h1 class="header-title">Plan Pro</h1>
        
        <div class="header-buttons">
            <div class="button-container">
                <a class="nav-link" routerLink="/login">
                    <img src="assets/images/login.png" alt="Login" class="login-button-img">
                    <br><p>Login</p>
                </a>
                
            </div>
            <div class="button-container">
                <a class="nav-link" routerLink="requestsim">
                    <img src="assets/images/register.png" alt="New SIM Card" class="login-button-img">
                    <br><p>New sim</p>
                </a>
                
            </div>
        </div>
    </header>
</div>
<router-outlet></router-outlet>

  